<!DOCTYPE html>
<html>
  <head>
    <title>RailsMediaServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <div class="errors">
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
